*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: fit-content;
    background: #727272;
    background: #727272;
    background: #c0c0c0;
    background: #7b7b7b;
    background: -webkit-linear-gradient(360deg, #7b7b7b 0%, #d6d6d6 50%, #d6d6d6 100%);
    background: linear-gradient(360deg, #7b7b7b 0%, #d6d6d6 50%, #d6d6d6 100%);
}

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 0 0 0;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    text-align: center;
    height: 30px;
}

nav li {
    display: inline;
    margin: 20px 0 0 0;
    background: #474bff;
    padding: 10px 15px; 
    background: -webkit-linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
}

nav a {
    padding: 10px 10px; 
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.loginbtn{
    margin: 7px 25px;
    float: right;
    padding: 0 20px;
    background: #474bff;
    background: -webkit-linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    border-radius: 5px;
    height: 30px;
}

.loginbtn a{
    text-align: center;
    margin: 5px 0 0 0 ;
    color: white;
    font-weight: bold;
}

.header{
    background: #c7c7c7;
    background: -webkit-linear-gradient(0deg, #c7c7c7 0%, #ffffff 50%, #ffffff 100%);
    background: linear-gradient(0deg, #c7c7c7 0%, #ffffff 50%, #ffffff 100%);
    width: 100%;
    height: 200px;
    margin: 0;
    border-bottom: 2px solid black;
    text-align: center;
    color: white;   
}

.para{
    background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

h1{
    padding-top: 40px;
    font-size: 60px;
    background: #474bff;
    background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    text-align: center;
    height: 50px;
    font-size: 40px;
    margin: 10px 0 10px;
    border-radius: 3px;
}

.asus-brand{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(221, 9, 9);
    background-color: black;
    
}

.acer-brand{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(231, 227, 0);
    background-color: black;
}

.lenovo-brand{
    color: white;
    text-shadow: 1px 1px rgb(73, 44, 235);
    background-color: black;
}

.rog-title{
    text-align: center;
    margin: -10px auto 20px;
    background-color: rgb(255, 255, 255);
    width:260px;
    height: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    border-radius:  0 0 30px 30px;
    border-bottom: 2px solid black;
    text-shadow: 2px 1px 1px rgb(255, 0, 0);
}

.predator-title{
    text-align: center;
    margin: -10px auto 20px;
    background-color: rgb(255, 255, 255);
    width:260px;
    height: 30px;
    font-size: 25px;
    color:rgb(0, 0, 0);
    border-radius:  0 0 30px 30px;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 1px rgb(249, 253, 1);
}

.legion-title{
    text-align: center;
    margin: -10px auto 20px;
    background-color: rgb(255, 255, 255);
    width:260px;
    height: 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    border-radius:  0 0 30px 30px;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 1px rgb(0, 4, 247)
}

p{
    font-size: 30px;
}

main{
    display: inline-flex;
    width: 100%;
}

.container{
    width: 95%;
    height: fit-content;
    padding: 0 15px;
    margin: 0 auto 40px;
}

label{
    font-weight:bold;
}

.rog, .tuf, .predator, .legion{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.card{
    display: inline-block;
    width: 170px;
    height: 135px;
    margin: 10px 15px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius:0;
    box-shadow: 2px 2px 2px  rgb(0, 0, 0);
    border-radius: 3px;
    overflow: hidden;
    transition: height 0.6s ease-out;
}

.card:hover{
    cursor: pointer;
    height: 220px;
}

.specsbtn{
    cursor: pointer;
    display: block;
    margin: 20px auto 60px;
    width: 250px;
    height: 30px;
    padding-top: 10px;
    border-radius: 5px;
    background: #474bff;
    background: -webkit-linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px 3px;
}

.price{
    margin-top: 10px;
    font-size: 15px;
}

label{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

img{
    width: 170px;
    height: 120px;
    min-width: auto;
    margin: 0 auto;
    position: relative;
    border-top: 2px solid grey;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 20px 5px ;
}

.redirect{
    display: block;
    margin: 10px auto;
    width: 60%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 200;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.redirect:hover{
    transform: scale(1.1);
}

footer{
    width: 100%;
    height: 100px;
    border-top: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.footer-info{
    display: block;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.copyright, .terms-policy a, p{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.terms-policy{
    margin: 10px;
}

.about-us-container{
    margin: 50px 0 0 0;
    width: 100%;
    

}
.about-us{
    display: block;
    margin: 0 auto 50px;
    width: 80px;
    height: 40px;
    overflow: hidden;
    border-radius: 3px;
    background-color: transparent;
    transition: width 1s ease-in-out, height 1s ease-in-out, background-color 1s ease-in-out;
}

.about-us:hover{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height:230px;
    box-shadow: 2px 2px 2px black;
}

.about-us-container button{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 70px;
    cursor: pointer;
    background: #474bff;
    background: -webkit-linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    background: linear-gradient(95deg, #474bff 0%, #bc48ff 100%);
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 10px 0;
}

.about-us-h1{
    margin: -30px 0 0 0;
    text-align: center;
    font-size: 15px;
}

.about-us-para{
    display: block;
    margin: 10px auto;
    width: 80%;
    text-align: justify;
}
